@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    color: #0050d5;
    color: #16c5ff;
    color: darkslategrey;
    color: azure;
    font: "poppins", sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

XM  
body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(poppins-font);

}


ul{
    list-style: none;
}
a{
    text-decoration: none;
     color: var(darkslategrey);
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #f0f0f0; 
}

.header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}

.header-links ul:hover::after{
    opacity: 1;
    width: 100%;
}

.header-links ul {
    transform: none;
    color: var(--light-color);

}

.header-links li {
    margin-right: 30px; 
}

.header-links a {
    text-decoration: none;
    color: #333; 
    font-weight: bold; 
}


nav img {
    max-width: 150px; 
}
.background-image {
    background-image: url('images/Background.png');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1; 
}
.image-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px; 
    

}
nav img{
    max-width: 300px;
}
footer{
   justify-content: center;
    display: flex;
    padding: 50px 100px;
    
}
/* Styles for the floating tabs */
/*.floating-tabs {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.floating-tabs li {
    padding: 10px;
}

/* Show the floating tabs on hover */
/*#services-link:hover .floating-tabs {
    display: list-item;
}

/* Style the floating tabs' links */
/*.floating-tabs a {
    text-decoration: none;
    color: #333;
    display: list-item;
}

.floating-tabs a:hover {
    background-color: #f0f0f0;
}

